<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/1%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C2_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#데이터 프레임 생성
index_tuples = [('1', '1'), ('1', '2'), ('2', '3'), ('2', '4'), ('2', '5'), ('3', '6'),('3', '7')]
values = [ [60,97,60], [30,98,58], [50,89,98], [90,78,25], [48,87,12], [65,68,98], [89,68,87]]
index = pd.MultiIndex.from_tuples(index_tuples,names=['nclass', 'id']) # 인덱스 설정
df = pd.DataFrame(values, columns=['math', 'english', 'science'], index = index)

df

           math  english  science
nclass id
1      1     60       97       60
       2     30       98       58
2      3     50       89       98
       4     90       78       25
       5     48       87       12
3      6     65       68       98
       7     89       68       87

## 데이터를 'math' 값을 기준으로 오름차순으로 정렬해보자.

In [ ]:
df.sort_values('math', ascending=True)

           math  english  science
nclass id
1      2     30       98       58
2      5     48       87       12
       3     50       89       98
1      1     60       97       60
3      6     65       68       98
       7     89       68       87
2      4     90       78       25

## 데이터의 'science' 열 이름을 'korean'으로 변경해보자.

In [ ]:
df.rename(columns={"science":"korean"})

           math  english  korean
nclass id
1      1     60       97      60
       2     30       98      58
2      3     50       89      98
       4     90       78      25
       5     48       87      12
3      6     65       68      98
       7     89       68      87

## 데이터의 인덱스 값을 초기화해보자.

In [ ]:
df.reset_index()

  nclass id  math  english  science
0      1  1    60       97       60
1      1  2    30       98       58
2      2  3    50       89       98
3      2  4    90       78       25
4      2  5    48       87       12
5      3  6    65       68       98
6      3  7    89       68       87

## 데이터를 다시 인덱스 순서대로 정렬해보자.

In [ ]:
df.sort_index()

           math  english  science
nclass id
1      1     60       97       60
       2     30       98       58
2      3     50       89       98
       4     90       78       25
       5     48       87       12
3      6     65       68       98
       7     89       68       87

## 데이터의 'math', 'science' 열을 제거해보자.

In [ ]:
df.drop(columns=['math','science'])

           english
nclass id
1      1        97
       2        98
2      3        89
       4        78
       5        87
3      6        68
       7        68