<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/3%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C2_%EC%9D%B4%EC%B1%84%EB%A6%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# J. 행과 열 변환하기

# 판다스 라이브러리 불러오기
import를 통해 판다스 라이브러리 호출

In [ ]:
import pandas as pd

# 데이터프레임 생성하기

In [ ]:
df = pd.DataFrame({"Name": ["Pankaj", "Lisa", "David"],
                   "ID": [1, 2, 3], 
                   "Role": ["CEO", "Editor", "Author"]})

df

     Name  ID    Role
0  Pankaj   1     CEO
1    Lisa   2  Editor
2   David   3  Author

# 모든 열을 행으로 변환하기

In [ ]:
# your code

  variable   value
0     Name  Pankaj
1     Name    Lisa
2     Name   David
3       ID       1
4       ID       2
5       ID       3
6     Role     CEO
7     Role  Editor
8     Role  Author

# 하나의 열만 행으로 이동시키기
ID와 Name은 그대로, Role만 행으로 이동하기

In [ ]:
# your code

   ID    Name variable   value
0   1  Pankaj     Role     CEO
1   2    Lisa     Role  Editor
2   3   David     Role  Author

# 여러 개의 열을 행으로 이동시키기
ID는 그대로, Role과 Name을 행으로 이동하기

In [ ]:
# your code

   ID variable   value
0   1     Role     CEO
1   2     Role  Editor
2   3     Role  Author
3   1     Name  Pankaj
4   2     Name    Lisa
5   3     Name   David

# 특정 열의 값을 기준으로 새로운 열 만들기
ID를 새로운 인덱스로 만들고, Name과 Role을 이에 따라 정리하기

In [ ]:
# your code

variable    Name    Role
ID
1         Pankaj     CEO
2           Lisa  Editor
3          David  Author

# 원래의 데이터 형태로 되돌리기

In [ ]:
# your code

   ID    Name    Role
0   1  Pankaj     CEO
1   2    Lisa  Editor
2   3   David  Author