<a href="https://colab.research.google.com/github/ChaelinL/Pandas_Study/blob/main/9_%EC%83%88%EB%A1%9C%EC%9A%B4_%EC%97%B4_%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.DataFrame(
    {"a": [4, 5, 6, 7],
     "b": [8, 9, 10, 11],
     "c": [12, 13, 14, 15]},
     index=pd.MultiIndex.from_tuples(
         [('d',1), ('d', 2), ('e', 1), ('e', 2)],
         names=['n', 'v']
     )
)
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

**조건에 맞는 새 열 만들기**

In [3]:
df['sum'] = df['a']+df['b']+df['c']
df

     a   b   c  sum
n v
d 1  4   8  12   24
  2  5   9  13   27
e 1  6  10  14   30
  2  7  11  15   33

**assign()을 이용해 조건에 맞는 새 열 만들기**

In [5]:
# a열, b열, c열의 값을 모두 더해 새로운 열 만들기
df = df.assign(multiply=lambda df: df['a']*df['b']*df['c'])
df

     a   b   c  sum  multiply
n v
d 1  4   8  12   24       384
  2  5   9  13   27       585
e 1  6  10  14   30       840
  2  7  11  15   33      1155

**숫자형 데이터를 구간으로 나누기**

In [7]:
# a열을 두 개로 나누어 각각 새롭게 레이블 만들기
df['qcut'] = pd.qcut(df['a'], 2, labels=["600이하", "600이상"])
df

     a   b   c  sum  multiply   qcut
n v
d 1  4   8  12   24       384  600이하
  2  5   9  13   27       585  600이하
e 1  6  10  14   30       840  600이상
  2  7  11  15   33      1155  600이상

**기준값 이하와 이상을 모두 통일시키기**

In [8]:
# a열에서 5 이하는 모두 5로, 6 이상은 모두 6으로 변환
df['clip'] = df['a'].clip(lower=5, upper=6)
df

     a   b   c  sum  multiply   qcut  clip
n v
d 1  4   8  12   24       384  600이하     5
  2  5   9  13   27       585  600이하     5
e 1  6  10  14   30       840  600이상     6
  2  7  11  15   33      1155  600이상     6

**최댓값 불러오기**

In [9]:
df.max(axis=0)  # axis=0은 행(a, b, c) 비교, axis=1은 열(d, e) 비교

a               7
b              11
c              15
sum            33
multiply     1155
qcut        600이상
clip            6
dtype: object

**최솟값 불러오기**

In [12]:
df.min(axis=0)

a               4
b               8
c              12
sum            24
multiply      384
qcut        600이하
clip            5
dtype: object